# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next
/out

# Production dependencies
/build
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# pnpm lockfile
pnpm-lock.yaml
